.title__div{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-cuarto);
        justify-content: space-between;
        align-items: center;
    padding: 4rem;
}

.title__bio{
    color: var(--color-quinto);
    font-size: 2.5rem;
    font-weight: bold
    margin-boton: 1rem
    }
.title__subsection{
font-size: 1.5rem;
font-weight: lighter;
margin-bottom: 1rem;
}
.title__network{
    display: flex;
    gap: 3rem;
}
.title__network__item:hover{
    color: var(--color-primario)
}


